{% extends "main.html" %} 
  
<!-- Content --> 
{% block content %} 
  <h1>404 - Page not found.</h1>

  <h2>Click <a href="http://diqhelp.ops.cld:8101/horizon-dev-docs/">here</a> to return to the documentation home page.</h2>

  <p>Troubleshooting suggestions:</p>
  <ul>
    <li>Use F5 on your keyboard to refresh your browser.</li>
    <li>Use CTRL+SHIFT+Delete on your keyboard to clear your browser cache.</li>

</ul>

{% endblock %} 